.Overview {
  text-align: left;
}

.Overview h1 {
  font-size: 26px;
  display: block;
  line-height: 26px;
  color: #202124;
  text-align: left;
  font-weight: 400;
  margin-bottom: 5px;
}

.Overview ul {
  padding: 0;
  margin: 0;
}

.Overview li {
  list-style: none;
  color: #70757a;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 0;
}
.Overview li:first-letter {
  text-transform: capitalize;
}

.Overview .weather-temperature img {
  float: left;
  width: 64px;
  height: 64px;
}
.Overview .weather-temperature strong {
  color: #202124;
  display: inline-block;
  font-size: 48px;
  line-height: 64px;
  vertical-align: top;
  font-weight: 400;
}

.Overview .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: 10px;
}

.Overview .active {
  color: #202124;
  cursor: default;
}

.Overview .active:hover {
  text-decoration: none;
  color: #202124;
}
